<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<body>
    <p style="margin:0; padding:0"><b>ID:</b> <%= comment.id %></p>
    <p style="margin:0; padding:0"><b>Username:</b> <%= comment.username %></p>
    <p style="margin:0; padding:0"><b>Comment:</b> <%= comment.comment %></p>
    <a href="/comments">Back to Index</a>
</body>
</html>